@import "compass/css3/flexbox";

@mixin flex-row {
    @include display-flex;
    @include flex-direction(row);
}

@mixin flex-column {
    @include display-flex;
    @include flex-direction(column);
}

@mixin flex-item {
    @include flex-shrink(0);
    @include flex-basis(0);
    min-height: 0;
    min-width: 0;
    overflow: hidden;
}

$scss-army-knife-flex-alignments: flex-start flex-end center stretch baseline;
$scss-army-knife-flex-justifications: flex-start flex-end center space-between space-around;

.flex-row {
    @include flex-row
}

.flex-column {
    @include flex-column;
}

@each $direction in row column {
    @each $justify in $scss-army-knife-flex-justifications {
        .flex-#{$direction}-#{$justify} {
            @extend .flex-#{$direction};
            @include justify-content($justify);
        }
        @each $align in $scss-army-knife-flex-alignments {
            .flex-#{$direction}-#{$justify}-items-#{$align} {
                @extend .flex-#{$direction}-#{$justify};
                @include align-items($align);
            }
        }
    }
    @each $align in $scss-army-knife-flex-alignments {
        .flex-#{$direction}-items-#{$align} {
            @extend .flex-#{$direction};
            @include align-items($align);
        }
    }
}

@each $align in $scss-army-knife-flex-alignments {
    .flex-item-#{$align} {
        @include align-self($align);
    }
}

@for $i from 1 through 12 {
    .flex-item-grow-#{$i} {
        @include flex-item;
        @include flex-grow($i);
    }
}

.flex-item-grow {
    @extend .flex-item-grow-1;
}
