
@mixin vertical-rhythm-spaces() {

    @for $i from 1 through 20 {
        .margin-leader-#{$i} {
            @include margin-leader($i);
        }
        .margin-trailer-#{$i} {
            @include margin-trailer($i);
        }
        .margin-#{$i} {
            @extend .margin-leader-#{$i};
            @extend .margin-trailer-#{$i};
        }
        .padding-#{$i} {
            padding: rhythm($i);
        }
    }

    .margin {
        @extend .margin-1;
    }

    .padding {
        @extend .padding-1;
    }

    .padding-half {
        padding: rhythm() / 2;
    }

    .padding-left {
        padding-left: rhythm();
    }

    .padding-right {
        padding-right: rhythm();
    }

    .top-open-padding {
        @extend .padding;
        padding-top: 0;
    }
}
