

/*
 * Note
 *
 * Try to use mixins instead of this file.
 */


@import "common";
@import "reset-zurb-vertical-rhythm";
@import "vertical-rhythm-spaces";
@import "vertical-rhythm-mixin";
@import "compass/typography/vertical_rhythm";


$base-font-size: 16px;
$base-line-height: 24px;


// choose either to fix trouble with 21px h5 size
$min-line-padding: 1px;
// $round-to-nearest-half-line: true;

$rhythm-unit: "rem";

@include establish-baseline;


// Font sizes

$factor: 3/4;

@for $i from 1 through 6 {
    h#{$i}, .h#{$i} {
        @include modular-font-size($factor, 6 - $i, $base-font-size);
    }
    .h#{$i}-vh-landscape-ipad {
        font-size: pow(1/$factor, 6 - $i) * $base-font-size / 768px * 100vh;
        line-height: 1.5;
    }
}

.p-vh-landscape-ipad {
    font-size: $base-font-size / 768px * 100vh;
    line-height: 1.5;
}

p {
    @include adjust-font-size-to($base-font-size);
}

.small {
    @include modular-font-size($factor, -1, $base-font-size, 4/5);
}

body {
    // Debug
    // @include debug-vertical-alignment;
    // * { background-color: transparent !important; }
}

// Text spacing
@include block-following-margin(rhythm());
