@import "compass/typography/vertical_rhythm";

$textBlocks: h1, h2, h4, h5, h6, p, img, ul, ol, figure, blockquote;

// Reset

#{$textBlocks} {
    margin-top: 0;
    margin-bottom: 0;
}


$base-font-size: 16px;
$base-line-height: 24px;


// choose either to fix trouble with 21px h5 size
$min-line-padding: 1px;
// $round-to-nearest-half-line: true;

$rhythm-unit: "rem";

@include establish-baseline;


// Font sizes

$factor: 3/4;

@for $i from 1 through 6 {
    h#{$i}, .h#{$i} {
        @include adjust-font-size-to(pow(1/$factor, 6 - $i) * $base-font-size);
    }
}

p {
    @include adjust-font-size-to($base-font-size);
}

.small {
    @include adjust-font-size-to(pow($factor, 1) * $base-font-size, 4/5);
}

// Space

@for $i from 1 through 20 {
    .margin-leader-#{$i} {
        @include margin-leader($i);
    }
    .margin-trailer-#{$i} {
        @include margin-trailer($i);
    }
    .margin-#{$i} {
        @extend .margin-leader-#{$i};
        @extend .margin-trailer-#{$i};
    }
    .padding-#{$i} {
        padding: rhythm($i);
    }
}

.margin {
    @extend .margin-1;
}

.padding {
    @extend .padding-1;
}

.padding-half {
    padding: rhythm() / 2;
}

.top-open-padding {
    @extend .padding;
    padding-top: 0;
}

// Debug

body {
    // @include debug-vertical-alignment;
    // * { background-color: transparent !important; }
}

// Text spacing

@each $i in $textBlocks {
    @each $j in $textBlocks {
        #{$i} + #{$j} {
            @include margin-leader(1);
        }
    }
}
